/* style.css */
body, html {
    height: 100%; /* 设置整个页面的高度为视口高度 */
    margin: 0;
    padding: 0;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

#joystick {
    width: 200px; /* 定义joystick的大小 */
    height: 200px;
    position: relative; /* 设置position属性，以确保nipplejs能正确处理 */
    background-color: #8ecee0; /* 设置一个背景色，便于观察joystick的位置 */
    border: 1px solid #051f21; /* 添加边框 */
    border-radius: 100px; /* 设置圆角 */
}
